<h1>Add movies</h1>

<form action="/v1/add/movies" method="POST">

    <input type="text" name="name" placeholder="name">
    <input type="text" name="description" placeholder="description">
    <input type="text" name="rating" placeholder="rating">

    <input type="submit" value="Add movie">
</form>