

<h1>Views all Movies</h1>
<img src="https://images-na.ssl-images-amazon.com/images/I/A1xg6fEaPQL.jpg" alt="">

{{#each movies}}
    <p>Name: {{name}}</p>
    <p>Description: {{description}}</p>
    <p>Rating: {{rating}}</p>
    <hr>
{{/each }}